[project]
	description = AngularJS modules support for webpack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sergey Nebolsin (nebolsin)
[access "refs/for/refs/*"]
	read = group user/Sergey Nebolsin (nebolsin)
	push = group user/Sergey Nebolsin (nebolsin)
	label-Code-Review = -2..+2 group user/Sergey Nebolsin (nebolsin)
	label-Verified = -1..+1 group user/Sergey Nebolsin (nebolsin)
	rebase = group user/Sergey Nebolsin (nebolsin)
	removeReviewer = group user/Sergey Nebolsin (nebolsin)
	submit = group user/Sergey Nebolsin (nebolsin)
[access "refs/heads/*"]
	read = group user/Sergey Nebolsin (nebolsin)
	create = group user/Sergey Nebolsin (nebolsin)
	push = +force group user/Sergey Nebolsin (nebolsin)
	pushMerge = group user/Sergey Nebolsin (nebolsin)
[access "refs/tags/*"]
	push = +force group user/Sergey Nebolsin (nebolsin)
	pushTag = group user/Sergey Nebolsin (nebolsin)
	pushSignedTag = group user/Sergey Nebolsin (nebolsin)
